{% extends "base.html" %} 
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Admin Dashboard</h3>
                    <p>Welcome, {{ current_user.full_name }}</p>
                </div>
                {% if subjects %}
                <div class="card-body">
                    <h4 class="card-title">Subjects</h4>
                    <ul class="list-group">
                        {% for subject in subjects %}
                        <li class="list-group-item">{{ subject.name }} - {{ subject.description }} <a href="/edit_subject/{{ subject.id }}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="/delete_subject/{{ subject.id }}" class="btn btn-danger btn-sm">Delete</a></li>
                        <a href="/add_chapter" class="btn btn-primary">Add Chapter</a>
                        
                        {% endfor %}
                    </ul>
                    <!-- add chapterx    -->
                </div>
                {% else %}
                <p>No subjects available.</p>
                {% endif %}
            </div>
            <a href="/add_subject" class="btn btn-primary">Add Subject</a>
        </div>
    </div>  
</div>
{% endblock %}
