{% extends "base.html" %} 
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Admin Dashboard</h3>
                    <p>Welcome, {{ current_user.full_name }}</p>
                </div>
            </div>
            <a href="/add_subject" class="btn btn-primary">Add Subject</a>
        </div>
    </div>  
</div>
{% endblock %}
